@model GAZON.Database.Models.Item

@{
    ViewData["Title"] = "GAZON";
}

<div class="flex-column center">
    <h1>Create item</h1>
    @using (Html.BeginForm("Create", "Home", FormMethod.Post, 
        new { @class = "flex-column center create-form", @enctype="multipart/form-data" }))
    {
        <img src="../src/images/UI/png/placeholder.png" id="form-image"/>
        <input type="file" id="file-image" name="photo" src="../src/images/UI/png/placeholder.png/" accept="image/*" class="shadow" />
        <p>Add Image</p>
        <div style="height: 1vw;"></div>
        @Html.LabelFor(Model => Model.Name)
        @Html.TextBoxFor(Model => Model.Name, new {@class ="input"})
        @Html.ValidationMessageFor(Model => Model.Name)

        @Html.LabelFor(Model => Model.Description)
        @Html.TextBoxFor(Model => Model.Description, new { @class = "input" })
        @Html.ValidationMessageFor(Model => Model.Description)

        @Html.LabelFor(Model => Model.Vendor)
        @Html.DropDownListFor(Model => Model.Vendor, ViewBag.Vendors as SelectList, "Select a vendor", new {@class ="input"})
        @Html.ValidationMessageFor(Model => Model.Vendor)

        @Html.LabelFor(Model => Model.Price)
        @Html.TextBoxFor(Model => Model.Price, new { @class = "input", @type = "number" })
        @Html.ValidationMessageFor(Model => Model.Price)

        @Html.LabelFor(Model => Model.Amount)
        @Html.TextBoxFor(Model => Model.Amount, new { @class = "input", @type = "number" })
        @Html.ValidationMessageFor(Model => Model.Amount)

        <button type="submit" class="button"><p>Create</p></button>
    }
</div>
@section Scripts {
    <script>
    $('#form-image').click(function (e){
        $('#file-image').click();
    });
    $('#file-image').change(function (e){
      for (var i = 0; i < e.target.files.length; i++){
          var file = e.target.files[i];
          var img = document.createElement("img");
         var reader = new FileReader();
         reader.onloadend = function() {
         $('#form-image').attr("src", `${reader.result}`);
         }
         reader.readAsDataURL(file);
         
      }  
    });
</script>
}
